<%- include('partials/header.ejs'); -%>

<div class="container-profile">
    <div class="articles-heading">
        <h1>Your Articles</h1>
    </div>
    <hr>

    <div class="card-div">
    </div> 
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
<script src="/public/Js/author.js" type="module"></script>



<%- include('partials/footer.ejs'); -%>